clone_attack/TextLSTM/dataset
natural_attack/CodeXGLUE/Clone-detection-BigCloneBench/code/saved_models
natural_attack/CodeXGLUE/Clone-detection-BigCloneBench/code/parser/tree*
natural_attack/CodeXGLUE/Defect-detection/preprocess/tree*
natural_attack/python_parser/parser_folder/tree*
natural_attack/CodeXGLUE/Defect-detection/preprocess/dataset/function.json
natural_attack/CodeXGLUE/Defect-detection/preprocess/dataset/function.jsonl
natural_attack/GraphCodeBERT/Defect-detection/preprocess/dataset/function.json
natural_attack/GraphCodeBERT/Defect-detection/preprocess/dataset/function.jsonl
natural_attack/CodeXGLUE/Defect-detection/preprocess/dataset/cached*
natural_attack/GraphCodeBERT/Defect-detection/preprocess/dataset/cached*
natural_attack/CodeT5/Defect-detection/preprocess/dataset
natural_attack/CodeXGLUE/Defect-detection/code/saved_models
natural_attack/CodeXGLUE/Defect-detection/code/adv_saved_models
natural_attack/CodeT5/Defect-detection/preprocess/tree*
natural_attack/GraphCodeBERT/Defect-detection/code/saved_models
natural_attack/CodeLLama/Defect-detection/preprocess/dataset
natural_attack/CodeLLama/Defect-detection/code/saved_models
natural_attack/CodeLLama/Defect-detection/preprocess/tree*
natural_attack/CodeT5/Defect-detection/code/finetuned_codet5_lora
natural_attack/CodeT5/Defect-detection/code/wandb
natural_attack/CodeT5/Defect-detection/code/saved_models
natural_attack/CodeT5/Defect-detection/code/adv_saved_models
natural_attack/CodeT5/Defect-detection/code/logs
traditiondetection/dataset